<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单控件 radio 用法</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link type="text/css" rel="stylesheet" href="base.css">
</head>
<body>
<div id="app">
    <section class="mb">
        <header>单选按钮的绑定值为value</header>
        <input type="radio" v-model="radio" value="a" id="test1"><label for="test1">a</label>
        <input type="radio" v-model="radio" value="b" id="test2"><label for="test2">b</label>
        <input type="radio" v-model="radio" value="c" id="test3"><label for="test3">c</label>

        <p>你的选项为： {{radio}}</p>
    </section>



</div>


<script>
    new Vue({
        el:"#app",
        data:{
            radio:''
        }
    });
</script>
</body>
</html>