<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <title>v-for 列表渲染 </title>
</head>
<body>
<ul id="app">
    <!--exp1:数组迭代-->
    <!--<li v-for="item in items"> {{ item.message }} </li>-->

    <!--exp2:数组迭代 访问坐标-->
    <!--<li v-for="(item,index) in items"> {{ index + " - " + item.message}}</li>-->

    <!--&lt;!&ndash;exp3:对象迭代-只显示对象的值&ndash;&gt;-->
    <!--<li v-for="value in object">{{ value }}</li>-->

    <!--&lt;!&ndash;exp4:显示对象的坐标-建-值&ndash;&gt;-->
    <li v-for="(value,key,index) in object"> {{ index + " - " + key + " - " + value}}</li>

    <!--&lt;!&ndash;exp5:整数迭代&ndash;&gt;-->
    <!--<li v-for="n in 10">{{ n }}</li>-->
</ul>

    <script>
       new Vue({
           el: '#app',
           data: {
               items: [
                   {message: 'Foo' },
                   {message: 'Bar' }
               ],
               object: {
                   FirstName: 'John',
                   LastName: 'Doe',
                   Age: 30
               }
           }
       });
    </script>
</body>
</html>